<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Person List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Favourite Color</th>
          <th>Hobby</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of personList | async">
          <td>{{ person.firstName }}</td>
          <td>{{ person.lastName }}</td>
          <td>{{ person.age }}</td>
          <td>{{ person.favouriteColor }}</td>
          <td>{{ person.hobby }}</td>
          <td>
            <button (click)="personDetails(person.id)" class="btn btn-info">Details</button>
            <button (click)="editPersonDetails(person.id)" class="btn btn-dark" style="margin-left: 10px">Update</button>
            <button (click)="deletePerson(person.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
