<h2>Person Details</h2>

<hr/>
<div *ngIf="person">
  <div>
    <label><b>First Name: </b></label> {{person.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{person.lastName}}
  </div>
  <div>
    <label><b>Age: </b></label> {{person.age}}
  </div>
  <div>
    <label><b>Favourite Color: </b></label> {{person.favouriteColor}}
  </div>
  <div>
    <label><b>Hobby: </b></label> {{person.hobby}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Person List</button><br>
